version: '3.8'
services:
  db:
    image: postgres
    restart: always
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: dev 
      POSTGRES_PASSWORD: dev1234
      POSTGRES_DB: dev_db 
    volumes:
      - ./data:/var/lib/postgresql/data