{
    "printWidth": 100,
    "tabWidth": 2,
    "useTabs": true,
    "semi": true,
    "singleQuote": true,
    "jsxSingleQuote": false,
    "trailingComma": "none",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "arrowParens": "always",
    "proseWrap": "always",
    "htmlWhitespaceSensitivity": "css",
    "endOfLine": "lf",
    "overrides": [
        {
            "files": "*.md",
            "options": {
                "printWidth": 100,
                "tabWidth": 2,
                "singleQuote": false
            }
        }
    ]
}